@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
    list-style-type: none;
    text-decoration: none;
    transition: all 3s ease-in;
    scroll-behavior: smooth;
}    

body{
    font-family: 'Lato', sans-serif;
    background: url(/assets//img/bgs.svg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.head{
    background-color: #CDB4DB;
    position: sticky;
    top: 0px;
}
form,textarea {
  font-size: 1rem;
}
button {
    display: block;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    border: none;
    background-color: aquamarine;
    color: #0a2472;
    font-family: 'Space Mono', monospace;
}
.btn-main,
.btn-light,
.btn-dark {
  display: block;
  padding: 0.6rem 2rem;
  margin: 1rem;
  transition: all 0.1s;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.btn-main {
    color: lightgoldenrodyellow;
    background-color: lightcoral;
}
button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: lightgoldenrodyellow;
  color: lightcoral;
  font-weight: 700;
  transform: scale(1.08);
}
.entry-text-title {
    width: 20em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    background-color: lightgoldenrodyellow;
    font-family: 'Space Mono', monospace;
}
.entry-text-title:focus {
    outline-color: lightcoral;
    font-family: 'Space Mono', monospace;
    color: lightcoral;
    font-size: 1rem;
}
  
.entry-text-title::placeholder {
    color: lightcoral;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
}
  
.entry-text-title::-ms-value {
    color: lightcoral;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
}
.journal-label {
    display: block;
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 700;
}
.entry-text-box {
    width: 100%;
    height: 20em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    background-color: lightgoldenrodyellow;
    font-family: 'Space Mono', monospace;
}
footer{
    background-color: #CDB4DB;
}
.two{
    background-color: lightgoldenrodyellow;
    font-family: 'Space Mono', monospace;
    box-shadow: .5rem .5rem 1rem red;
}